<ion-header>
  <ion-toolbar>
    <ion-title>modificacion-productos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="formAgregar" (ngSubmit)="actualizar()">
    <ion-list>
      <ion-item>
        <ion-label>Producto</ion-label>
        <ion-input formControlName="nombreP" placeholder="Ingrese el nombre del producto"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Precio</ion-label>
        <ion-input formControlName="precio" placeholder="Ingrese el precio (o rango de precios) del producto"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Horario</ion-label>
        <ion-input formControlName="horas" placeholder="Ingrese las horas de venta"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Descripción</ion-label><ion-textarea formControlName="descripcion" labelPlacement="floating" fill="solid"
          placeholder="Ingrese las especificaciones del producto"></ion-textarea>
      </ion-item>
    </ion-list>
    <ion-button type="submit">Guardar producto</ion-button>
  </form>
</ion-content>