<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>FCFMart (logo)</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/home-vendedor">
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-negocio routerLink="/productos">
  
  </app-negocio>
  <app-negocio routerLink="/productos">
  
  </app-negocio>
  
  <app-negocio>
  
  </app-negocio>
  
  <app-negocio>
  
  </app-negocio>
  <app-negocio></app-negocio>
</ion-content>
