<ion-grid>
  <ion-row>
    <ion-col>
      <ion-card>
        <ion-card-header>
          <ion-card-title>Nombre del negocio</ion-card-title>
          <ion-card-subtitle>Productos en venta</ion-card-subtitle>
        </ion-card-header>
      </ion-card>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-card>
        <ion-card-header>
          <ion-card-title>Nombre producto</ion-card-title>
          <ion-card-subtitle>Precio</ion-card-subtitle>
        </ion-card-header>
      
        <ion-card-content>
          Descripcion
        </ion-card-content>
      </ion-card>
      </ion-col>
  </ion-row>
</ion-grid>
