<ion-header [translucent]="true">
</ion-header>
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
  </ion-header>

  <ion-content id="ion-padding ion-text-center">
    <div id="container">
      <div id="page-header" class="ion-padding">
        <h1>¡Bienvenid@ a FCFMart!</h1>
        <p>El catálogo donde se encuentra toda la comida de nuestra facultad</p>
      </div>
      
      <img src="../../assets/home-a.jpg" alt=""/>

      <div id="button-container">
        <h4>¿Es vendedor o cliente?</h4>
        <ion-button expand="block" routerLink="/login-vendedor" class="btn">Vendedor</ion-button>
        <ion-button expand="block" routerLink="/inicio-negocios" class="btn">Cliente</ion-button>
      </div>
    </div>
  </ion-content>
</ion-content>
